{% extends 'todo_list/base.html' %}

{% block title %}Todo App{% endblock %}

{% block content %}
    {% if all_items %}
        <table class="table table-bordered">
        {% for item in all_items %}
            {% if item.completed %}
            <tr class="table-secondary">
                <td class="hasdone">{{item.item}}</td>
                <td>{{item.completed}}</td>
                <td><center>DELETE</center></td>
            </tr>
            {% else %}
            <tr>
                <td>{{item.item}}</td>
                <td>{{item.completed}}</td>
                <td><center>DELETE</center></td>
            </tr>
            {% endif%}
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}